<%- include("../partials/header"); %>




<div class="ui container">
  <div class="ui middle aligned center aligned grid">
    <div class="headingShoppingCart">
      <div class="head">
        <h1>עגלת הקניות</h1>
      </div>
      <div class="budget">
        <h3> ₪התקציב שלך הוא: <%=user.money%></h3>
      </div>
    </div>

    <table class="ui unstackable celled table">
      <thead>
        <tr>
          <th>הסר</th>
          <th>מחיר</th>
          <th>כמות</th>
          <th>שם</th>
        </tr>
      </thead>
      <tbody>
        <% var sum = 0%>
        <% user.shoppingCart.forEach(function(item){ %>
        <tr class="tr-wearHouse">
          <td>
            <form action="/shoppingCart/removeFromCart/<%=item.name%>/<%=item.productId%>?_method=DELETE" method="POST">
              <button class="ui button"><i class="minus icon"></i></button></form>
          </td>
          <td data-label="מחיר"><%=item.price%></td>
          <td data-label="כמות"><%=item.quantity%></td>
          <% sum += item.price * item.quantity%>
          <td data-label="שם"><%=item.name%></td>
        </tr>
        <%});%>
      </tbody>
    </table>

    <div class="summary">
      <h3> <%=sum%> :סה"כ</h3>
      <div>
        <form action="/shoppingCart/checkOut/<%=sum%>" method="post">
          <button class="ui button">סיים קנייה</button>
        </form>
      </div>
    </div>



  </div>
</div>

<%- include("../partials/footer"); %>